<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Elektoo</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script  type="text/javascript" src="typeahead.min.js"></script>
	<style type="text/css">
		#table-id{
				width: 20%;
				font-size: 150%;
				border: thin solid black;
				border-collapse: collapse;
		}
		#row-id{
			font-size: 150%;
			border: thin solid black;
			text-align: center;
			border-collapse: collapse;
		}
	</style>	
</head>
<body>
<div id="branddisplay">
</div>
	<script type="text/javascript">

		function showIt(data){
			document.getElementById('branddisplay').innerHTML = data;
		} 
			 var data = <%- JSON.stringify(CompanyData) %>

			 console.log(data)

			 var myString = "<table id='table-id'><tr><th>Brands Available</tr></th>";
			 for (var i = 0; i < data.length; i++) {
					var company = data[i].company;
					
					
							var temp="<tr><td id='row-id'><a href=http://127.0.0.1:3000/matrix?brand="+company+">"+company+"</a></td></tr>";
						myString= myString + temp;
					};
					myString=myString+"</table>"
					showIt(myString);
	</script>

</body>
</html>
