<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Elektoo</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script  type="text/javascript" src="typeahead.min.js"></script>
	</head>
<body>
<div id="branddisplay">
</div>
	<script type="text/javascript">

/*$(document).ready(function(){

			$('input.typeahead').typeahead({
				name: 'countries',
				remote: 'http://localhost:3000/search?key=%QUERY',
				limit: 10
			});
		});

		function getBrands(){
			var brand={};
			console.log("getting brands");
			$.ajax({
				url:"http://127.0.0.1:3000/brands",
				data:brand,
				dataType:"json",
				success: function (data){
					console.log("brands data");
					data=data.CompanyData;
					var cdata=""
;				for(var i=0;i<data.length;i++)
				{
					console.log(data[i].company)
					cdata=cdata+data[i].company
				};
				showIt(mystring);

				}
			});
			function showIt(data){
			testIt = data;
			document.getElementById('URL').innerHTML = data;
					}

		}*/

		function showIt(data){
			document.getElementById('branddisplay').innerHTML = data;

		} 
			 var data = <%- JSON.stringify(CompanyData) %>

			 console.log(data)

			 var myString = "<h3> Brands available </h3><br><br>";
			 for (var i = 0; i < data.length; i++) {
					var company = data[i].company;
					
					
							var temp=company+"<br>";
						myString= myString + temp;
					};
					showIt(myString);
	</script>



</body>
</html>
