<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Elektoo</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script  type="text/javascript" src="http://localhost:3000/JS/typeahead.min.js"></script>
	<script type="text/javascript" src="http://localhost:3000/JS/index.js"></script>
	<link rel="stylesheet" type="text/css" href="http://localhost:3000/CSS/index.css">
</head>
	<body>
		<div class="page-header">
			<img class="search" src="http://localhost:3000/images/logo.gif" />
		</div>
		<div class="bs-example">
			<table>
				<tr>

					<td><input id="myInput" type="text" name="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="Type your Query" onkeypress="if(event.charCode == 32 || event.keyCode == 32)getData()"></td>
					<td><input id="button" placeholder="Submit" name="submit" class="tt-submit" type="image" src="http://127.0.0.1:3000/images/images.jpeg" onclick="getData()"></td>
					<td id="Counts"></td>
				</tr>
			</table>
		</div>

		<div id="imagew" > 	
			<img id="i1" src= "http://localhost:3000/images/i1.gif"/> 
			<img id="i2" src= "http://localhost:3000/images/i2.gif"/> 
			<img id="i3" src= "http://localhost:3000/images/i3.gif"/> 
		</div>

			<div id='URL'>
			</div>
		</body>
		</html>
