<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Elektoo</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script  type="text/javascript" src="typeahead.min.js"></script>
		<style type="text/css">
		#table-id{
			width: 60%;
    		border: thin solid black;
    		border-collapse: collapse;
		}
		#box-id{
			border: thin solid black;
			text-align: center;
		}
		</style>
</head>
<body>
<h1>Choice matrix</h1>
	<div id="displaymatrix">
</div>
	<script type="text/javascript">
	function check(ele) {
		console.log("hello");
		console.log(ele.name);
		var elements=document.getElementsByName(ele.name);
		var i;
		for(i=0;i<elements.length;i++)
		{
			if(elements[i].type=='radio')
			{
				elements[i].checked=false;
			}
		}
	}


	</script>
	<script>
function goBack() {
    window.history.back();
}
</script>
<script type="text/javascript">
	function showIt(data){
			document.getElementById("displaymatrix").innerHTML = data;

		} 
			 var data = <%- JSON.stringify(MatrixData) %>

			 console.log(data)
			 var lowp=data[0].price;
			 var highp=data[data.length-1].price;
			 var range=(highp-lowp)/5;

			 var myString="<h4>Features</h4>";
			 myString = myString+"<table id='table-id'><th id='box-id'>Price</th>";
			 for(var i=1;i<=5;i++)
			 {
			 	var low=lowp;
			 	var high=lowp+(i*range);


			 	var temp="<td id='box-id'><input type='radio' name='price' value='<"+high+" '>&lt"+high+"</td>"

			 
						myString= myString + temp;
					};
					myString=myString+"</table>";
					myString=myString+"<button  name='price' onclick='check(this);'>uncheck options</button>";
					showIt(myString);
</script>
	
<br><br>
	<button name="back" onclick="goBack();">Back </button>
</body>
</html>